
#game {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}

canvas{
	position: absolute;
	z-index: -1;
}

html{
    overflow: hidden;
}
