@font-face {
    font-family: "arcade";
    src: url('../font/ARCADECLASSIC.TTF');
}

form > button{
    margin-top: 50px;
}

#editForm {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	background-image: url("/assets/images/scrolls_background.png");
	background-position: center;
	background-size: contain;
	background-repeat: repeat;
	width: 300px;
	position: relative;
	bottom: 544px;
	left: 245px;
}

input {
	width: 200px;
	background-image: url("/assets/images/bar.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0px solid transparent;
	padding: 17px;
}

#avatar {
	background-image: none;
	position: relative;
	left: 259px;
	top: 164px;
}

.avatar {
	height: 100px;
	position: relative;
	bottom: 430px;
	left: 580px;
	color: white;
	color: black;
}