@font-face {
    font-family: "arcade";
    src: url('../font/ARCADECLASSIC.TTF');
}

form > button{
    margin-top: 50px;
}

#editForm {
    display: flex;
	flex-direction: column;
    padding: 30px;
    background-image: url("/assets/images/scrolls_content.png");
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    width: 300px;
}

.scroll {
	width: 100%;
	position: absolute;
	top: 10vh;
	left: 30vw;
    display: flex;
    flex-direction: column;
}

.scroll-top,
.scroll-bottom{
    width: 360px;
    height: 100%;
}